h1 {
    text-align: center;
}
#mainDiv {
    display: grid;
    justify-content: center;
}
.cell-color {
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
